@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');

body {
  background-color: black;
  color: white;font-family: 'Quicksand', sans-serif;

}
button {
  cursor: pointer;
  opacity: 0.7;
}
button:hover {
  opacity: 1;
  font-weight: bold;
}
#empty {
  display: none;
  font-size: 40px;
  text-align: center;
  padding: 10px;
}
#bookshelf {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  column-gap: 15px;
  row-gap: 10px;
  margin: 40px auto;
}
.book-card {
  width: 200px;
  text-align: center;
  box-shadow: 0 4px 8px 0 cyan;
  padding: 10px;
  line-height: 35px;
  overflow-wrap: break-word;
  height: fit-content;
  border-radius: 7%;
}
.book-card:hover {
  box-shadow: 0 4px 8px 0 lime;
  margin: 10px 0;
}
.book-card:hover > .book-title {
  border-bottom: 2px solid white;
}
.book-title {
  font-weight: bold;
  font-size: 30px;
  border-bottom: 2px solid gray;
  color: cyan;
}
.book-author {
  margin: 12px 0;
  font-style: italic;
  font-size: large;
  line-height: 20px;
  color: #00ffc0;
}
.book-pages {
  color: #00ff80;
}
.book-read {
  color: #00ff40;
}
.remove-buttons {
  display: flex;
  flex-flow: column-reverse wrap;
  justify-content: space-between;
  align-items: flex-end;
}
.remove {
  background-color: black;
  color: red;
  border: none;
  font-weight: bold;
  font-size: 20px;
  padding: 4px;
  height: 30px;
  width: 30px;  
  border-radius: 30px;
}
.toggle {
  background-color: black;
  border: none;
  color: white;
  font-size: 16px;
}
#popup-btn {
  display: block;
  position: fixed;
  bottom: 15px;
  right: 15px;
  width: 60px;
  height: 60px;
  font-size: 50px;
  font-weight: bold;
  border-radius: 50%;
  border: none;
  background-color: cyan;
}
#add-book-div {
  background-color: black;
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  box-shadow: 0 1px 8px 0 #00ff40;
  z-index: 9;
  border-radius: 14px;
}
#get-book {
  max-width: 300px;
  padding: 10px;
  display: flex;
  flex-flow: column wrap;
  align-content: space-between;
  line-height: 30px;
}
#btn-group {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}
input[type=text], input[type=number] {
  padding: 6px;
  font-size: 20px;
  border-radius: 8px;
  margin: 2px;
  border: 1px solid gray;
}
input[type=text]:focus, input[type=number]:focus {
  outline: none;
  background-color: #ddd;
}
input[type=checkbox] {
  width: 20px;
  height: 20px;
}
label {
  font-size: 28px;
  color: #0080ff ;
}#add-book-btn {
  background-color: #4000ff;
  color: #00ff40;
  border: none;
  padding: 10px 12px;
}
#minimise {
  background-color: #f00;
  color: white;
  border: none;
  padding: 10px 12px;
}

@media screen and (max-width: 720px){
  #bookshelf {
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 16px;
    row-gap: 20px;
  }
  .book-card {
    width: 180px;
  }
  .remove {
    font-size: 16px;
  }
}
@media screen and (max-width: 400px){
  #bookshelf {
    grid-template-columns: 1fr 1fr;
    margin: 0;
  }
  .book-card{
    width: 140px;
  }
  .book-title {
    font-size: 20px;
  }
  #popup-btn {
    bottom: 10px;
    right: 10px;
    width: 60px;
    height: 60px;
    font-size: 50px;
  }
  input[type=text], input[type=number] {
    font-size: 18px;
  }
  label {
    font-size: 18px;
  }
  input[type=checkbox] {
    width: 15px;
    height: 15px;
  }
}